# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.Python

# Django
*.log
db.sqlite3
media/
staticfiles/
__pycache__/
local_settings.py

# Editor/IDE specific
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
